@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
.active{
  background-color: #ffebf5;
  color: red;
}

a.active hr {
    display: block;
}

* {
    font-family: Manrope;
}

select, input, textarea {
  border: 1px solid #c2c2c2;
  border-color: #c586a5;
  border-radius: 4px;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px){
  a.active {
    background-color: black;
    color: white;
  }
} 


.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
  0%  { background-size: 20% 50%, 20% 50%, 20% 50% }
  20% { background-size: 20% 20%, 20% 50%, 20% 50% }
  40% { background-size: 20% 100%, 20% 20%, 20% 50% }
  60% { background-size: 20% 50%, 20% 100%, 20% 20% }
  80% { background-size: 20% 50%, 20% 50%, 20% 100% }
  100%{ background-size: 20% 50%, 20% 50%, 20% 50% }
}

/* Responsive sizing */
@media (max-width: 768px) {
  .loader {
    width: 30px;
  }
}

@media (max-width: 480px) {
  .loader {
    width: 25px;
  }
}

.search {
  border: none !important;
  box-shadow: none !important;
}